.inner{width: 1000px;margin: 0 auto;}
.clear{clear:both}
.hr45{height: 45px;overflow: hidden;}
.bigImg {height: 600px; background: url(../images/index-bigImg.jpg) center top no-repeat;text-align: center;}
.bigImg-tit {font-size: 48px; height: 60px; line-height: 60px; color: #FFF; padding: 100px 0 30px;}
.bigImg-box {width: 480px; padding: 0 260px; height: 50px;}
.bigImg-box li.box {width: 120px; height: 50px; background: #1DD2AF; border-radius: 5px; line-height: 50px; color: #FFF; font-size: 20px; float: left; margin: 0 20px;}
.bigImg-box li.box a {color: #FFF;}
.bigImg-box li.box02 {background: #946829;}
.bigImg-box li.box03 {background: #D35E5C;}
.bigImg-tex {width: 780px; padding: 150px 110px 0; height: 100px;}
.bigImg-tex li {width: 160px; height: 50px;  line-height: 50px; color: #FFF; font-size: 20px; float: left; margin: 0 50px;}

.about-title {text-align: center; font-size: 40px; font-weight: bold; color: #00BCD3; line-height: 48px; padding: 80px 0 20px;}
.about-summary {font-size: 18px; text-indent: 2em; padding:0 50px 50px; line-height: 30px;color: #333;}



.product-box .product { width: 300px; padding-right: 50px; float: left; overflow: hidden;}
.product-box .nopadding {padding: 0;}
.product-box01 {padding: 0 150px;}
.product { height: 280px; }
.product .img {width: 120px; height: 120px; margin: 0 90px;   border-radius: 50%; background: url(../images/index-product-img01.jpg) center center no-repeat;}
.product .title {  height: 50px;  line-height: 50px; font-size: 22px; color: #00BCD3; text-align: center;}
.product .title a { color: #00BCD3;}
.product .summary{   font-size: 16px;  line-height: 28px;color: #333;}
.product .img01 {  background: url(../images/index-product-img02.jpg) -140px center no-repeat;}
.product .img02 {  background: url(../images/index-product-img03.jpg) -80px center no-repeat;}
.product .img03 {  background: url(../images/index-product-img04.jpg) -80px center no-repeat;}
.product .img04 {   background: url(../images/index-product-img05.jpg) -80px center no-repeat;}
.bottom {background: #2E4151; overflow: hidden; margin-top: 30px;}
.bottom .inner { border-bottom: 1px solid #707887; padding: 20px 0 0 0; overflow: hidden;}
.bottom-title { font-size: 30px; color: #00BCD3; padding-bottom: 10px; }
.bottom-box li { width: 300px; float: left; padding-right: 50px;}
.bottom-box li.nopadding {padding: 0;}
.bottom-box .tit { color: #FFF; font-size: 20px;}
.bottom-box .tex {color: #999; }
.bottom-box ul{padding-bottom: 30px;border-bottom: 1px solid #707887;}

.footer {background: #2E4151;}
.index-num{text-align: center;font-size: 14px;color: #fff;height: 60px;line-height: 60px;}
