@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
  overflow-x: hidden;
  font-size: 12px;
  color: #fff !important; }

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto; }

.clearfix {
  clear: both; }

input, textarea {
  outline: none; }

.zmiti-header {
  width: 100%;
  background: #000; }
  .zmiti-header .zmiti-login-mask {
    position: fixed;
    left: 0;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.7); }
    .zmiti-header .zmiti-login-mask .zmiti-login-C {
      width: 470px;
      height: 200px;
      display: none;
      position: absolute;
      left: 50%;
      top: 200px;
      margin-left: -235px;
      background: #fff;
      border: 1px solid #00bbd2;
      color: #00bbd2; }
      .zmiti-header .zmiti-login-mask .zmiti-login-C h2 {
        text-align: center;
        line-height: 80px;
        color: #00bbd2; }
      .zmiti-header .zmiti-login-mask .zmiti-login-C .zmiti-login-form {
        text-align: center; }
      .zmiti-header .zmiti-login-mask .zmiti-login-C input {
        border: none;
        margin: 0 15px;
        height: 30px;
        border-bottom: 1px solid #00bbd2; }
      .zmiti-header .zmiti-login-mask .zmiti-login-C .zmiti-login-close {
        position: absolute;
        font-size: 26px;
        right: 10px;
        top: 0px;
        cursor: pointer; }
      .zmiti-header .zmiti-login-mask .zmiti-login-C .zmiti-login-btn {
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 40px auto;
        background: #00bbd2;
        border-radius: 5px;
        color: #fff;
        cursor: pointer; }
    .zmiti-header .zmiti-login-mask .zmiti-ask-C {
      width: 500px;
      height: 300px;
      background: #fff;
      display: none;
      border: 1px solid #00bbd2;
      position: absolute;
      left: 50%;
      margin-left: -250px;
      top: 200px;
      color: #00bbd2; }
      .zmiti-header .zmiti-login-mask .zmiti-ask-C ul {
        margin-top: 20px; }
        .zmiti-header .zmiti-login-mask .zmiti-ask-C ul li {
          float: left;
          width: 25%;
          font-size: 16px;
          text-align: center;
          cursor: pointer;
          color: #ccc; }
          .zmiti-header .zmiti-login-mask .zmiti-ask-C ul li.active {
            color: #00bbd2; }
            .zmiti-header .zmiti-login-mask .zmiti-ask-C ul li.active img {
              opacity: 1;
              -webkit-transition: 0.2s;
              transition: 0.2s; }
          .zmiti-header .zmiti-login-mask .zmiti-ask-C ul li img {
            opacity: 0;
            width: 30px;
            display: block;
            margin: 0 auto; }
      .zmiti-header .zmiti-login-mask .zmiti-ask-C textarea {
        width: 96%;
        height: 150px;
        border: 1px solid #ccc;
        margin: 20px auto;
        display: block;
        resize: none;
        padding: 10px;
        box-sizing: border-box; }
      .zmiti-header .zmiti-login-mask .zmiti-ask-C .zmiti-ask-close {
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 26px;
        cursor: pointer; }
      .zmiti-header .zmiti-login-mask .zmiti-ask-C .zmiti-submit-btn {
        width: 60px;
        height: 30px;
        border-radius: 4px;
        background: #00bbd2;
        color: #fff;
        line-height: 30px;
        text-align: center;
        margin-right: 2%;
        float: right; }

.zmiti-main-header {
  width: 1000px;
  margin: 0 auto;
  height: 90px;
  background: #000;
  line-height: 90px;
  font-size: 16px; }
  .zmiti-main-header > div {
    float: left; }
  .zmiti-main-header .zmiti-logo {
    width: 260px; }
    .zmiti-main-header .zmiti-logo img {
      width: 220px;
      vertical-align: middle; }
  .zmiti-main-header .zmiti-nav {
    width: 580px;
    line-height: 106px; }
    .zmiti-main-header .zmiti-nav li {
      float: left;
      width: 20%; }
      .zmiti-main-header .zmiti-nav li.active a {
        color: #00bbd2; }
      .zmiti-main-header .zmiti-nav li a {
        color: #fff; }
  .zmiti-main-header .zmiti-user-action {
    width: 160px;
    line-height: 23px;
    text-align: center; }
    .zmiti-main-header .zmiti-user-action span {
      float: right;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 0 5px;
      position: relative;
      top: 38px;
      cursor: pointer; }

.zmiti-detail-C {
  display: none;
  width: 600px;
  background: #fff;
  border: 1px solid #00bbd2;
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -300px;
  color: #8d8d8d;
  padding: 0 50px;
  box-sizing: border-box;
  padding-bottom: 30px; }
  .zmiti-detail-C.blur h3, .zmiti-detail-C.blur .zmiti-detail-content, .zmiti-detail-C.blur .zmiti-detail-bottom {
    -webkit-filter: blur(2px); }
  .zmiti-detail-C .zmiti-detail-title {
    font-weight: bold;
    color: #000;
    font-size: 18px;
    margin: 40px 0; }
  .zmiti-detail-C .zmiti-detail-content {
    text-indent: 2em;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc; }
  .zmiti-detail-C .zmiti-detail-close {
    position: absolute;
    font-size: 26px;
    right: 10px;
    top: 0;
    cursor: pointer; }
  .zmiti-detail-C .zmiti-detail-bottom {
    margin: 40px 0; }
    .zmiti-detail-C .zmiti-detail-bottom > div {
      float: left;
      box-sizing: border-box;
      height: 30px;
      line-height: 30px;
      font-size: 16px; }
      .zmiti-detail-C .zmiti-detail-bottom > div:nth-of-type(1) {
        width: 140px;
        color: #00bbd2;
        cursor: pointer; }
        .zmiti-detail-C .zmiti-detail-bottom > div:nth-of-type(1) img {
          width: 30px;
          margin-right: 10px; }
      .zmiti-detail-C .zmiti-detail-bottom > div:nth-of-type(2) {
        width: 358px; }
        .zmiti-detail-C .zmiti-detail-bottom > div:nth-of-type(2) > div {
          float: left;
          width: 33.3%;
          text-align: center;
          cursor: pointer; }
          .zmiti-detail-C .zmiti-detail-bottom > div:nth-of-type(2) > div:nth-of-type(1) {
            position: relative;
            font-size: 14px; }
            .zmiti-detail-C .zmiti-detail-bottom > div:nth-of-type(2) > div:nth-of-type(1).active {
              color: #e17a41; }
              .zmiti-detail-C .zmiti-detail-bottom > div:nth-of-type(2) > div:nth-of-type(1).active:before {
                background: url(../../assets/images/collect.png) no-repeat right top; }
            .zmiti-detail-C .zmiti-detail-bottom > div:nth-of-type(2) > div:nth-of-type(1):before {
              content: '';
              position: absolute;
              left: 16px;
              top: 8px;
              width: 15px;
              -webkit-transform: scale(1.2);
              transform: scale(1.2);
              height: 13px;
              background: url(../../assets/images/collect.png) no-repeat left top; }
          .zmiti-detail-C .zmiti-detail-bottom > div:nth-of-type(2) > div:nth-of-type(2) {
            background: #f5f6ee;
            border-radius: 4px;
            width: 28%;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-right: 4.4%; }
          .zmiti-detail-C .zmiti-detail-bottom > div:nth-of-type(2) > div:nth-of-type(3) {
            width: 34%;
            background: #01bcd4;
            border-radius: 4px;
            color: #fff;
            border: 1px solid #01acc2;
            box-sizing: border-box; }

.zmiti-collect-C {
  position: absolute;
  width: 1000px;
  display: none;
  left: 50%;
  margin-left: -500px;
  height: 400px;
  top: 120px; }
  .zmiti-collect-C > div {
    background: #fff;
    width: 100%;
    border: 1px solid #00bbd2;
    box-sizing: border-box; }
    .zmiti-collect-C > div:nth-of-type(1) {
      width: 100%;
      height: 70px; }
      .zmiti-collect-C > div:nth-of-type(1) img {
        width: 70px;
        margin-top: -40px;
        margin-left: 100px; }
      .zmiti-collect-C > div:nth-of-type(1) span {
        color: #00bbd2;
        margin-left: 10px;
        font-size: 16px;
        font-weight: bold; }
    .zmiti-collect-C > div:nth-of-type(2) {
      margin-top: 10px;
      height: 310px;
      color: #000;
      overflow: hidden;
      position: relative; }
      .zmiti-collect-C > div:nth-of-type(2) > div {
        padding-bottom: 30px; }
      .zmiti-collect-C > div:nth-of-type(2) ol {
        width: 978px;
        margin: 20px auto 0;
        border: 1px solid #ccc;
        border-bottom: none;
        box-sizing: border-box;
        height: 40px; }
        .zmiti-collect-C > div:nth-of-type(2) ol li {
          height: 40px;
          line-height: 40px;
          float: left;
          text-align: center;
          box-sizing: border-box; }
          .zmiti-collect-C > div:nth-of-type(2) ol li:nth-of-type(1) {
            width: 190px; }
          .zmiti-collect-C > div:nth-of-type(2) ol li:nth-of-type(3) {
            width: 180px; }
          .zmiti-collect-C > div:nth-of-type(2) ol li:nth-of-type(2) {
            width: 600px;
            max-width: 600px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc; }
      .zmiti-collect-C > div:nth-of-type(2) ul {
        width: 978px;
        margin: 0 auto;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        box-sizing: border-box; }
        .zmiti-collect-C > div:nth-of-type(2) ul li {
          clear: left;
          width: 100%;
          text-align: center;
          height: 40px;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc; }
          .zmiti-collect-C > div:nth-of-type(2) ul li:hover {
            background: #eee; }
          .zmiti-collect-C > div:nth-of-type(2) ul li .zmiti-collect-del {
            position: relative; }
          .zmiti-collect-C > div:nth-of-type(2) ul li > div {
            float: left;
            box-sizing: border-box;
            height: 40px;
            line-height: 40px; }
            .zmiti-collect-C > div:nth-of-type(2) ul li > div:nth-of-type(1) {
              width: 190px; }
              .zmiti-collect-C > div:nth-of-type(2) ul li > div:nth-of-type(1) img {
                width: 40px; }
            .zmiti-collect-C > div:nth-of-type(2) ul li > div:nth-of-type(3) {
              width: 180px;
              cursor: pointer;
              color: #f00; }
            .zmiti-collect-C > div:nth-of-type(2) ul li > div:nth-of-type(2) {
              width: 600px;
              max-width: 600px;
              border-left: 1px solid #ccc;
              border-right: 1px solid #ccc; }

.zmiti-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  line-height: 60px;
  z-index: 99999;
  color: #fff;
  left: 0;
  height: 60px;
  background: #000 url(../images/footer-copyright.png) no-repeat center top; }

/*# sourceMappingURL=main.css.map */