body{font-family: "Hiragino Sans GB", "Microsoft Yahei",  Tahoma, Helvetica, STHeiti;color: #333333;
  font-size: 14px;
  background-color: #ffffff;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color: #333333;}
img{border: none;}
input,textarea{
  font-family: "Hiragino Sans GB", "Microsoft Yahei",  Tahoma, Helvetica, STHeiti;
}
@mixin radius($v:5px){
  border-radius: $v;
  -webkit-border-radius: $v;
  -moz-border-radius: $v;
}
.clear{clear: both;}
.inner{width: 1000px;margin: 0 auto;}
.hr80,.hr45,.hr30,.hr20,.hr10{
  clear:both;
  line-height:0;
  font-size:0;}
.hr80{height:80px;}
.hr45{height:45px;}
.hr30{height:30px;}
.hr20{height:20px;}
.hr10{height:10px;}
.text-center{text-align: center;}
.showMorehandle{width: 100px;
  line-height: 36px;
  border-radius: 15px;
  border: 1px solid #e1e1e1;
  text-align: center;
  font-size: 14px;
  color: #999;
  cursor: pointer;
  margin: 50px auto 0;}
/*头部*/
.header{padding: 20px 0;background-color: #000;color: #ffffff;}
.header .inner{position: relative;}
.logo{width:248px;
  float:left;
  img{
    display: block;
    width:100%;
  }
}
.main-search{width: 190px;height: 30px;border: 1px solid #e3e3e3;border-radius: 15px;padding-left: 10px;float: right;}
.main-search input.ipt_txt1{border: none;height: 30px;line-height: 30px;padding-left: 7px;width: 153px;outline: none;
  float: left;}
.jq_va1{background: url(../images/txt-s3.png) no-repeat 5px center;}
.ipt_tj{background: url(../images/ico-search.png) no-repeat 0 center;width:26px;height:30px;border:none;
  cursor: pointer;}
/*导航*/
.nav{height: 40px;margin-top: 13px;width:620px;float: left;}
.lx-nav li{float: left;font-size: 16px;line-height: 26px;margin-left: 15px;}
.lx-nav li a{padding: 0 18px;line-height: 26px;display: inline-block;color: #ffffff;}
.lx-nav li .cl{color: #d35e5c;}
.uline{border-bottom: 1px solid #5daf42;line-height:0;font-size:0;height:0;width:68px;position:absolute;left:20px;bottom:0;}
/*底部*/
.footer{height: 60px;text-align: center;font-size: 14px;color: #fff;line-height: 60px;letter-spacing: 1px;
  background:#000 url(../images/footer-copyright.png) no-repeat center 0;
}
/**/
.main1{margin-bottom: 25px;min-height: 400px;}
.main1-l{width: 270px;float: left;}
.main1-r{width: 670px;float: right;}
.main1-text{text-indent: 2em;background: url(../images/atjn20170322-16.jpg) no-repeat left 10px;line-height: 36px;font-size: 18px;color: #8ba6c2;padding-bottom: 35px;}
.main1-padding-inner{
  line-height: 1.8;
  p{
    margin: 12px 0 0 0;
  }
  .text-indent{
    text-indent: 2em;
  }
}
.dis{display: none;}
.channel-title{font-size:18px;line-height: 1.5;}
.font-c1{color:#00bcd3;}
.font-c2{color:#d35f5c;}
.channel-information{font-size:12px;padding: 0 0 20px 0;line-height: 1.5;}
.sty1{border-left: 1px solid #79bd8f;border-right: 1px solid #79bd8f;color: #5daf42;}
.sty2{color: #5daf42;}
.sty3{color: #d35e5c;}
.sty3 a{color: #d35e5c;}
.gs-list li{margin-bottom: 30px;cursor: pointer;background:url(../images/akjn20170324-2.jpg) no-repeat left bottom;padding-bottom: 15px;}
.gs-name{font-size: 20px;padding-left: 52px;background: url(../images/atjn20170322-15.jpg) no-repeat left center;line-height: 30px;
}
.gs-eng{width: 170px;font-size: 18px;color: #999999;line-height: 34px;padding-left: 75px;}
.gs-eng a{color: #999999;}
.gs-list .sty4{background:url(../images/akjn20170324-2.jpg) #fff no-repeat left bottom;}
.gs-list .sty5{background-image: none;}
.slidemenus{
  li{
    line-height: 36px;
    font-size: 16px;
    margin:0 0 20px 0;
    span{
      padding-left: 20px;
    }
    a{
      color: #ffffff;
    }
  }
  li.bg_c1{
      background-color: #00bcd3;      
  }
  li.bg_c2{
      background-color: #d35f5c;      
  }

}
.user-action{
  position: absolute;
  right: 0;
  top: 15px;
  span{
    display: block;
    border: 1px #ffffff solid;    
    width:30px;
    height: 23px;
    padding: 7px 0 0 0;
    text-align: center;
    float:left;
    margin-left:12px;
    cursor: pointer;
    @include radius(50%);
    img{
      width:16px;
      height: 16px;
      display: block;
      margin: 0 auto;
    }
  }
}
/*dialog*/
.layout-mark{
  width:100%;
  height:500px;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../images/mark.png);
}
.layout-login{
  width:400px;
  margin:180px auto 0 auto;
  background-color: #ffffff;
  position: relative;
  @include radius(5px);
  .login-close{
    position: absolute;
    right: 8px;
    top: 0px;
    font-size: 25px;
    cursor: pointer;
  }
}
.input_txt {
    width: 220px;
    height: 28px;
    line-height: 28px;
    border: #ccc 1px solid;
    text-indent: 5px;
}
.login-inner-submit{
  width:222px;
}
.log_btn {
    display: block;
    width: 140px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background: #ff9801;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.message-inner{
  .message-textarea{
    width:360px;
    margin: 0 auto;
  }
  textarea{
    width:358px;
    height: 200px;
    border:1px #cccccc solid;
    margin: 0 auto;
    resize: none;
    text-indent: 5px;
  }
}
.title-s-a1{
  border-bottom: 1px #cccccc solid;
  line-height: 35px;
  text-indent: 20px;
}
.login-inner-submit2{
  .log_btn {
    margin: 0 auto;
  }
}
.cart-inner{
  padding:20px 12px 20px 20px;
}
.dialog-cart-left{
  width:240px;
  float:left;
  font-size: 12px;
  p{
    margin:0 0 8px 0;
    font-size: 12px;
  }
}
.dialog-cart-right{
  width: 110px;
  float: right;
  ul{
    li{
      text-align: right;
      color: #d35f5c;
      line-height: 40px;
      a{
        color: #d35f5c;
      }
    }
  }
}