/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-index-main-ui .zmiti-index-notice-title {
  font-size: 16px;
  margin: 40px 0;
  color: #00b0c5; }
.zmiti-index-main-ui .zmiti-index-notice {
  font-size: 12px;
  width: 400px; }
.zmiti-index-main-ui .ant-table-thead th {
  background: #000 !important;
  color: #fff !important; }
.zmiti-index-main-ui .ant-table-fixed-left table, .zmiti-index-main-ui .ant-table-fixed-right table {
  background: transparent !important;
  color: #fff !important; }
.zmiti-index-main-ui .zmiti-ico {
  width: 38px;
  height: 38px;
  background: #000;
  text-align: right; }
  .zmiti-index-main-ui .zmiti-ico img {
    width: 38px;
    height: 38px;
    margin-right: 3px;
    vertical-align: top; }
.zmiti-index-main-ui .ant-table-thead > tr.ant-table-row-hover > td, .zmiti-index-main-ui .ant-table-tbody > tr.ant-table-row-hover > td, .zmiti-index-main-ui .ant-table-thead > tr:hover > td, .zmiti-index-main-ui .ant-table-tbody > tr:hover > td {
  background: #999 !important; }
.zmiti-index-main-ui .ant-table-scroll .ant-table-body {
  overflow: hidden !important; }
.zmiti-index-main-ui .ant-table-scroll .iScrollIndicator {
  background: #fff !important;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  opacity: 0; }
.zmiti-index-main-ui .ant-pagination-prev, .zmiti-index-main-ui .ant-pagination-next {
  background: #fff;
  padding: 0 4px; }
.zmiti-index-main-ui .ant-table-tbody > tr > td {
  border-bottom: none !important;
  padding-bottom: 30px !important;
  position: relative; }
  .zmiti-index-main-ui .ant-table-tbody > tr > td:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: #000;
    left: 0;
    bottom: 0; }
  .zmiti-index-main-ui .ant-table-tbody > tr > td div {
    position: absolute;
    width: 100%;
    height: 38px !important;
    left: 0;
    top: 0;
    line-height: 38px;
    cursor: pointer; }
    .zmiti-index-main-ui .ant-table-tbody > tr > td div.status-0 {
      background: #f00; }
    .zmiti-index-main-ui .ant-table-tbody > tr > td div.status-1 {
      background: #ddd;
      color: #000; }
    .zmiti-index-main-ui .ant-table-tbody > tr > td div.status-2 {
      background: green; }
  .zmiti-index-main-ui .ant-table-tbody > tr > td:last-of-type {
    text-align: center;
    padding: 0; }
.zmiti-index-main-ui .ant-table-tbody > tr:last-of-type td {
  border: none !important; }
.zmiti-index-main-ui .ant-table-tbody {
  background: #444353 !important;
  color: #fff !important; }
.zmiti-index-main-ui .ant-pagination-jump-next {
  background: #fff !important; }
.zmiti-index-main-ui .zmiti-search-input {
  width: 100%; }
.zmiti-index-main-ui .zmiti-index-search-C {
  margin: 40px 0; }
  .zmiti-index-main-ui .zmiti-index-search-C ul li {
    width: 100px;
    margin-right: 10px;
    float: left;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    text-align: center; }
    .zmiti-index-main-ui .zmiti-index-search-C ul li:nth-of-type(1) {
      width: 60px;
      text-align: left; }
    .zmiti-index-main-ui .zmiti-index-search-C ul li input {
      width: 100px; }
    .zmiti-index-main-ui .zmiti-index-search-C ul li:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 48px;
      height: 1px;
      background: #00b0c5;
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .zmiti-index-main-ui .zmiti-index-search-C ul li:hover {
      color: #00b0c5; }

/*# sourceMappingURL=index.css.map */