@import "../../../assets/css/base.scss";

.zmiti-index-main-ui {
  .zmiti-index-notice-title {
    font-size: 16px;
    margin: 40px 0;
    color: #00b0c5;
  }

  .zmiti-index-notice {
    font-size: 12px;
    width: 400px;
  }

}
